.my-button {
    min-width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    transition: background 0.2s ease-in-out;
}


.my-button--bordered {
    background:rgb(144, 10, 175);
    border: 1px solid rgb(144, 10, 175);
    color: rgb(255, 255, 255);
}

.my-button--bordered:hover {
    background-color: rgb(248, 4, 113);
}

.my-button--primary {
    background: rgb(133, 26, 62);
    border: none;
    color: rgb(255, 255, 255);
}

.my-button--primary:hover {
    background-color: rgb(210, 47, 218);
}


.my-button--sm {
    min-width: 100px;
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
}

.my-button--md {
    min-width: 150px;
    height: 40px;
    font-size: 18px;
    padding: 10px 20px;
}

.my-button--lg {
    min-width: 200px;
    height: 50px;
    font-size: 22px; 
    padding: 15px 30px;
}