.the-6st-level {
    font-size: 14px;
}
.the-5st-level {
    font-size: 16px;
}
.the-4st-level {
    font-size: 20px;
}
.the-3st-level {
    font-size: 24px;
}
.the-2st-level {
    font-size: 32px;
}
.the-1st-level {
    font-size: 48px;
}
.title {
    padding: 0;
    margin: 0;
    font-weight: 700;
}